body {
  /* 背景画像*/
  background-image: url(keyboad.jpg);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #EEEEEE;
}
  /* 背景画像入れ替え*/
@media only screen and (max-width: 767px) {
  body {
    background-image: url(bunkyou.JPG);
 	}
}
*{
  color: #000;
	text-align:center;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 100px;
  text-shadow:1px 1px 1px #C0C0C0;
}
h2{
  font-size: 20px;
}

.sub-title,footer {
  margin: 30px auto;
  font-size: 20px;
  line-height: 23px;
  color:#000;
  font-weight:700;
  text-shadow:1px 1px 1px #C0C0C0;
}

.button {
  display: inline-block;
  width:200px;
  height:26px;
  padding: 6px 10px;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}

.button-s {
  display: inline-block;
  width:200px;
  height:30px;
  padding: 6px 10px;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}
