body {
  /* 背景画像*/
  background-image: url(bunkyou.JPG);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #EEEEEE;
}
  /* 背景画像入れ替え*/
@media only screen and (max-width: 767px) {
  body {
    background-image: url(keyboad.jpg);
 	}
}
*{
  color: #777;
	text-align:center;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 100px;
	text-shadow:3px 3px 3px #999;
}

.sub-title,footer {
  margin: 30px auto;
  font-size: 20px;
  line-height: 23px;
	color:#000;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #444;
  border: 1px solid #444;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}

#kara{
	height:500px;
	border: 1px solid #cafaea;
	visibility:hidden;
}
