body {
  /* 背景画像*/
  background-image: url(keyboad.jpg);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
  /* 背景画像入れ替え*/
@media only screen and (max-width: 767px) {
  body {
    background-image: url(tamaiall.PNG);
 	}
}
*{
  color: #999;
	text-align:center;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 100px;
	text-shadow:3px 3px 3px #999;
}

.sub-title,footer {
  margin: 30px auto;
  font-size: 20px;
  line-height: 23px;
	color:black;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #999;
  border: 1px solid #999;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: none;
	
}



/*上部メニューバー*/
#menu {
  width:auto;
  padding:0;
  margin:0;
  list-style-type: none;
}
#menu li {
  width:20%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}
#menu li a {
  width:auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#666;
}
#menu li a:hover {
  background:#555;
}

#kara{height:500px;
	border: 1px solid #cafaea;
	visibility:hidden;
}
/*newアイコン*/
span.text-icon {
  display: inline-block;
  background: #df002c;
  padding: 1px 5px;
  margin-left: 5px;       /* 先行する文字列との間隔 */
  vertical-align: middle; /* 先行する文字列と上下中央揃え */
  font-size: 0.6em;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;  
}